<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, Welcome to our first iteration of Project Hotel by Sami Aliraqi! <%= title %></p>
  </body>
</html>
