<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the first iteration of Project Hotel by Sami Aliraqi!</h1>
    <p>Project Hotel is an open source management software for small businesses! The current iteration shows different pages that are currently under development!</p>
  </body>
</html>
